*{
    margin: 0;
    padding: 0;
}
input {
  width: 150px;
  padding: 8px 12px;
  border-radius: 8px;
  border: 2px solid #faf3e0;
  background-color: #fffaf0;
  outline: none;
  font-size: 14px;
  transition: all 0.3s ease;
}
input:focus {
  border-color: black;
  box-shadow: 0 0 8px rgba(255, 179, 71, 0.6);
}
button {
  padding: 8px 14px;
  margin: 5px 5px 5px 0;
  border: none;
  border-radius: 8px;
  background-color: #faf3e0;
  color: #b35400;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #ff9f1c;
  color: white;
  transform: translateY(-2px);
}

button:active {
  transform: scale(0.97);
}
.student-analyzer{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    background-color: wheat;
    width: 600px;
    height: 600px;
    padding: 30px;
    margin: 30px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
    
}
.result{
    border-top: 3px solid black;
}
label{
    font-size: large;
}
.std-anlz-card{
    height: 400px;
}
.std-anlz-card h1{ 
    margin: 30px;
}
.result{
  margin: 20px;
}